<header
  class="flex sm:flex-row flex-col justify-between items-center py-4 gap-5"
>
  <h1 class="text-3xl text-gradient">BrandMa</h1>
  <nav class="text-lg sm:text-md flex gap-10 lg:text-lg">
    <a href="/" a-link aria-label="Go to homepage">Home</a>
    <a href="/projects" a-link aria-label="See Projects">Projects</a>
    <a href="/posts" a-link aria-label="See blog posts">Blog</a>
    <button id="toggle-dark" aria-label="toggle dark mode">
      <div
        class="h-full text-xl hover:text-primary"
        dark:i-carbon-sun
        i-carbon-moon
      >
      </div>
    </button>
  </nav>
</header>

<script>
  import { toggleDark } from "../helpers/toggleDark";

  const button = document.querySelector("#toggle-dark");
  if (button) {
    button.addEventListener("click", toggleDark);
  }
</script>
