<section
  id="hero"
  class="flex py-12 sm:flex-row sm:items-center flex-col gap-20 min-h-[50vw]"
>
  <div class="flex flex-col gap-5">
    <p class="text-base">
      Hey, I’m <span class="text-primary">Brandon</span>, a web developer who
      loves making unique ideas a reality and solving problems. Professionally,
      I work on the hardware side of engineering but I started programming and
      have been addicted since.
    </p>
    <div class="flex flex-row gap-10">
      <a
        href="https://www.linkedin.com/in/brandon-y-ma/"
        target="_blank"
        rel="noreferrer"
        ><div class="text-blue-400 text-3xl" i-carbon-logo-linkedin></div>
      </a>
      <a href="https://github.com/maybemaby" target="_blank" rel="noreferrer">
        <div class="text-3xl" i-carbon-logo-github></div>
      </a>
    </div>
  </div>
</section>
