---
import ProjectPreview from "../../components/ProjectPreview.astro";
import Layout from "../../layouts/Layout.astro";
import { ProjectFrontMatter } from "../../lib/types";
const projects = await Astro.glob<ProjectFrontMatter>("./*.md");
const data = projects.map((proj) => ({ ...proj.frontmatter, url: proj.url }));
---

<Layout>
  <section id="projects" class="flex flex-col gap-10">
    {data.map((proj) => <ProjectPreview project={proj} url={proj.url} />)}
  </section>
</Layout>
